.todo {
  background: #f1f1f1;
  padding: 10px;
  color: black;
  border-bottom: 1px solid black;
}

.completedTodo {
  text-decoration: line-through;
  font-size: 23px;
  color: #ff6d6d;
}

.pendingTodo {
  font-size: 23px;
  color: #595656;
}

.completeButton {
  float: right;
  background: #ffffff;
  color: #4e4d4d;
}

.deleteButton {
  float: right;
  background: #eb5656;
  color: white;
  margin-left: 5px;
}
