.input {
  padding: 5px 10px;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px 0px 0px 5px;
  font-size: 13px;
}

.submit {
  font-size: 13px;
  border-radius: 0px 10px 10px 0px;
  padding: 5px 10px;
  background: #c8deff;
}
