// global styles for application

button {
  border: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 6px 8px;
  cursor: pointer;
}

form {
  margin-bottom: 10px;
}
